# **Importing Dependencies**

In [1]:
import re

In [2]:
text = '''
Elon musk's phone number is 8970789809, (321)-231-2312 call him if you have any questions on dogecoin
'''

pattern = '\(\d{3}\)-\d{3}-\d{4}|\d{10}'

We can know the pattern with help of regex101.com

In [3]:
matches = re.findall(pattern, text)

In [4]:
matches

['8970789809', '(321)-231-2312']

# **Extracting Note Titles**

In [5]:
text = '''
Note 1 - Overview
Tesla, Inc. (“Tesla”, the “Company”, “we”, “us” or “our”) was incorporated in the State of Delaware on July 1, 2003. We design, develop, manufacture and sell high-performance fully electric vehicles and design, manufacture, install and sell solar energy generation and energy storage
products. Our Chief Executive Officer, as the chief operating decision maker (“CODM”), organizes our company, manages resource allocations and measures performance among two operating and reportable segments: (i) automotive and (ii) energy generation and storage.
Beginning in the first quarter of 2021, there has been a trend in many parts of the world of increasing availability and administration of vaccines
against COVID-19, as well as an easing of restrictions on social, business, travel and government activities and functions. On the other hand, infection
rates and regulations continue to fluctuate in various regions and there are ongoing global impacts resulting from the pandemic, including challenges
and increases in costs for logistics and supply chains, such as increased port congestion, intermittent supplier delays and a shortfall of semiconductor
supply. We have also previously been affected by temporary manufacturing closures, employment and compensation adjustments and impediments to
administrative activities supporting our product deliveries and deployments.
Note 2 - Summary of Significant Accounting Policies
Unaudited Interim Financial Statements
The consolidated balance sheet as of September 30, 2021, the consolidated statements of operations, the consolidated statements of
comprehensive income, the consolidated statements of redeemable noncontrolling interests and equity for the three and nine months ended September
30, 2021 and 2020 and the consolidated statements of cash flows for the nine months ended September 30, 2021 and 2020, as well as other information
disclosed in the accompanying notes, are unaudited. The consolidated balance sheet as of December 31, 2020 was derived from the audited
consolidated financial statements as of that date. The interim consolidated financial statements and the accompanying notes should be read in
conjunction with the annual consolidated financial statements and the accompanying notes contained in our Annual Report on Form 10-K for the year
ended December 31, 2020.
'''

In [6]:
pattern = 'Note \d - ([^\n]*)'

In [7]:
matches = re.findall(pattern, text)

In [8]:
matches

['Overview', 'Summary of Significant Accounting Policies']

**Extracting financial periods of company**

In [9]:
text = '''
The gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
In previous quarter i.e. fy2020 Q4 it was $3 billion.
'''

In [10]:
pattern = 'FY\d{4} Q[1-4]'

In [11]:
matches = re.findall(pattern, text, flags = re.IGNORECASE) #Its case sensitive thats why using IGNORECASE for handling case sensitive issue

In [12]:
matches

['FY2021 Q1', 'fy2020 Q4']

In [13]:
pattern = 'FY(\d{4} Q[1-4])'

In [14]:
matches = re.findall(pattern, text, flags = re.IGNORECASE)

In [15]:
matches

['2021 Q1', '2020 Q4']

In [16]:
pattern = '\$[0-9\.]+'

In [17]:
matches = re.findall(pattern, text)

In [18]:
matches

['$4.85', '$3']

In [19]:
pattern = '\$([0-9\.]+)'

In [20]:
matches = re.findall(pattern, text)

In [21]:
matches

['4.85', '3']

In [22]:
pattern = 'FY(\d{4} Q[1-4])[^\$]+\$([0-9\.]+)'

In [23]:
matches = re.findall(pattern, text, flags = re.IGNORECASE)

In [24]:
matches

[('2021 Q1', '4.85'), ('2020 Q4', '3')]

# **Exercise**

1. Extract all twitter handles from following text. Twitter handle is the text that appears after https://twitter.com/ and is a single word. Also it contains only alpha numeric characters i.e. A-Z a-z , o to 9 and underscore _

In [25]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''

In [26]:
pattern = 'https://twitter\.com/([a-z0-9_]+)'

matches = re.findall(pattern, text)

matches

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

2. Extract Concentration Risk Types. It will be a text that appears after "Concentration Risk:", In below example, your regex should extract these two strings

(1) Credit Risk

(2) Supply Rish

In [27]:
text_1 = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''

In [28]:
pattern = 'Concentration of Risk\: ([a-zA-Z a-zA-Z]+)'

matches = re.findall(pattern, text_1, flags = re.IGNORECASE)

matches

['Credit Risk', 'Supply Risk']

3. Companies in europe reports their financial numbers of semi annual basis and you can have a document like this. To exatract quarterly and semin annual period you can use a regex as shown below

Hint: you need to use (?:) here to match everything enclosed

In [29]:
text_2 = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

In [30]:
pattern = 'FY(\d{4} (?:Q[1-4]|S[1-2]))'

matches = re.findall(pattern, text_2)

matches

['2021 Q1', '2021 S1']

In [31]:
chat1 = 'codebasics: you ask lot of questions 😠  1235678912, abc@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

In [35]:
pattern = '[a-zA-Z0-9_]*@[a-z]*.com'

matches = re.findall(pattern, chat1)

matches

['abc@xyz.com']

In [36]:
chat1='codebasics: Hello, I am having an issue with my order # 412889912'
chat2='codebasics: I have a problem with my order number 412889912'
chat3='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

In [39]:
pattern = 'order [^\d]*([^a-z]*)'

matches = re.findall(pattern, chat1)

In [40]:
matches

['412889912']

In [42]:
text_='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship
South Africa (1971–present)
Canada (1971–present)
United States (2002–present)
Education	University of Pennsylvania (BS, BA)
Title
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)
'''

In [48]:
pattern = 'age (\d+)'

matches = re.findall(pattern, text_)

matches

['50']

In [49]:
pattern = 'Born(.*)'

matches = re.findall(pattern, text_)

matches[0].strip()

'Elon Reeve Musk'

In [52]:
pattern = 'Born.*\n(.*)\(age'

matches = re.findall(pattern, text_)

matches[0].strip()

'June 28, 1971'

In [53]:
pattern = '\(age.*\n(.*)'

matches = re.findall(pattern, text)

matches[0].strip()

'Pretoria, Transvaal, South Africa'

In [55]:
def get_pattern_match(pattern, text):
  matches = re.findall(pattern,text)
  if matches:
    return matches[0]

In [56]:
get_pattern_match('\(age.*\n(.*)', text_)

'Pretoria, Transvaal, South Africa'

In [59]:
def get_person_information(text):

  age = get_pattern_match('age (\d+)', text)
  name = get_pattern_match('Born(.*)', text)
  birthdate = get_pattern_match('Born.*\n(.*)\(age', text)
  birthplace = get_pattern_match('\(age.*\n(.*)', text)

  return {
      'Age': int(age),
      'Name' : name.strip(),
      'Birthdate' : birthdate.strip(),
      'Birthplace' : birthplace.strip()
  }

In [60]:
get_person_information(text_)

{'Age': 50,
 'Name': 'Elon Reeve Musk',
 'Birthdate': 'June 28, 1971',
 'Birthplace': 'Pretoria, Transvaal, South Africa'}

In [61]:
text_2 = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani ​(m. 1985)​[3]
Children	3
Parent(s)
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [62]:
get_person_information(text_2)

{'Age': 64,
 'Name': 'Mukesh Dhirubhai Ambani',
 'Birthdate': '19 April 1957',
 'Birthplace': 'Aden, Colony of Aden'}